1) What is a DropBox ?

Ans) DropBox is a cloud-based storage service that allows users to store and share files. It provides
     a secure and reliable way to store and access files from anywhere, on any device.

2) Functional Requirements 

Ans) 1. Users should be able to upload a file from any device.
     2. Users should be able to download a file from any device.
     3. Users should be able to share file with other users and view the files shared with them.
     4. Users can sync automatically sync files across devices.

3) Non - Functional Requirements

Ans) 1. The System should be highly available (availability > consistency).
     2. The System should be able to support files as large as 50GB.
     3. The system should be secure and reliable. We should be able to recover files if they are lost or corrupted.
     4. The system should make upload, download, and sync times as fast as possible (low latency).

4) What are core Entities ?

Ans) 1. File -  This is the raw data that users will be uploading, downloading, and sharing.
     2. FileMetaData -  This is the metadata associated with the file. It will include information 
                        like the file's name, size, mime type, and the user who uploaded it.
     3. User - The user of our system.

5) API or System Interface

Ans) 1. POST /files -> To Upload Data/file
        Request :
        {
        File,
        FileMetaData
        }

    2. GET /files/{fileId} -> To get File & FileMetaData

    3. POST /files/{fileId}/share -> To share files
        Request :
        {
        User[] // The users to share the file with
        }

    4. Query for changes to file on remote server
       
       GET /files/changes?since={timeStamp} -> ChangeEvent[]

       Each ChangeEvent includes the fileId, the type of change (created, updated, deleted), and 
       the updated metadata. By passing a since timestamp, the client can efficiently fetch only 
       the changes that have occurred since its last sync.
    



   